<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE racine SYSTEM "log4j.dtd">
<racine>
    <jeu nom="recherche" >
        <mode name="challenger">
            <lancement>

            </lancement>
            <exeption>

            </exeption>
            <solution>

            </solution>
        </mode>

        <mode name="defenseur">
            <lancement>

            </lancement>
            <exeption>

            </exeption>
            <solution>

            </solution>
            </mode>

        <mode name="duel">
            <lancement>

            </lancement>
            <exeption>

            </exeption>
            <solution>

            </solution>
            </mode>

    </jeu>
    <jeu nom="mastermind">
        <mode name="challenger">
            <lancement>

            </lancement>
            <exeption>

            </exeption>
            <solution>

            </solution>
        </mode>

        <mode name="fefenseur">
            <lancement>

            </lancement>
            <exeption>

            </exeption>
            <solution>

            </solution>
        </mode>

        <mode name="duel">
            <lancement>

            </lancement>
            <exeption>

            </exeption>
            <solution>

            </solution>
        </mode>
    </jeu>
    <general>
        <tempsJeu>

        </tempsJeu>
        <sortie>

        </sortie>
    </general>
</racine>